.create-post-page {
    min-width: 60%;
    max-width: 100%;
    margin: auto;
}

.create-post-container {
    background-color: rgb(234, 234, 234);
    margin-top: 2em;
    padding: 2em;
    border-radius: 1em;
    animation: show 0.6s;
}

.create-title, 
.create-text {
    color: rgb(55, 55, 55);
}

#create-title,
#create-text {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 0.4em;
}

.create-post-container button {
    border: none;
    margin: 0.4em;
    padding: 0.6em;
    background-color: rgb(135, 245, 135);
    border-radius: 0.4em;
}