header {
    background-color: rgb(62, 62, 62);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;

    a {
        color: white;
        text-decoration: none;
        margin-right: 20px;
    }
    
    .header-buttons {

        ul {
            list-style-type: none;
            display: flex;
        }
    }
}