* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: 4em 1fr;
    grid-template-columns: 1fr;
}
