.post-single {
    background-color: rgb(244, 244, 244);
    padding: 1.6em;
    border-radius: 0.4em;
    margin: 1em 36em;
    animation: show 0.6s;

}

.post-title {
    font-size: 1.4em;
}

.post-author {
    color: gray;
    font-weight: 300;
}

.post-text {
    margin-top: 1em;
    max-height: 20em;
    overflow: hidden;
}